a {
	text-decoration: none;
	color: #6ab47b
}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	background: #ffcba0; 
}

#logo{
	text-align: center;
	margin: 0;
}

header{
	background: #499c9c;
	border-color: #2e8c8c;
}

h1,h2{
	color: #ffb477;
}

nav{
	background: #6db69c;
}

nav a, nav a:visited{
	color: #fff;
}